In [ ]:

# Sample Headline

## Another Headline

In [ ]:
print("Hello World")

In [ ]:
# Creation of a simple Class

class Student:
    
    def __init__(self):
        print("The student class has been initialized")
        

student = Student()

In [ ]:
# Example of a bash command
# An exclamation is the start of the bash command

!pip list

In [ ]:
 # Magic Commands %

    
%lsmagic

In [ ]:
# Inline Matplotlib

%matplotlib inline

In [ ]:
# Simple demo of a scatter plot

import numpy as np
import matplotlib.pyplot as plt

N = 50
x = np.random.rand(N)
y = np.random.rand(N)
colors = np.random.rand(N)
area = np.pi * (15 * np.random.rand(N))**2 # 0 to 15 point radiuses

plt.scatter(x, y, s=area, c=colors, alpha=0.5)
plt.show()

In [ ]:
%%javascript
console.log("Javscript")

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10,5))
df

          0         1         2         3         4
0 -1.546454 -0.341280  1.330252 -0.107324 -1.328234
1 -1.531847 -0.176827 -1.785578  0.072338  0.284005
2 -0.598550 -0.317137 -0.741514  0.754325  3.645699
3  0.686150  0.399360 -0.136929 -0.080841 -0.152825
4  0.944552  0.973947  0.517088 -1.164466 -0.725321
5 -0.430105 -0.282307 -0.997419  0.791923  1.514278
6 -0.131813  0.070573  0.909352  0.174486 -0.695858
7  0.918082 -0.108161  0.666157 -0.522552  0.861446
8  1.067968 -1.613542  0.212566 -0.457692  0.207316
9 -0.963351  0.224829 -0.816898  1.232022 -1.802615